<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.llastkrakw.nevernote">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".NeverNoteApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NeverNote">
        <activity android:name=".views.notes.activities.NoteCalendarView"/>
        <activity android:name=".views.task.activities.TaskCalendarView"/>
        <activity android:name=".views.task.activities.SearchTaskActivity" />
        <activity android:name=".views.notes.activities.FolderDetailActivity" />
        <activity android:name=".views.notes.activities.NoteDetailActivity" />
        <activity
            android:name=".views.notes.activities.AddNoteActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".views.notes.activities.SearchNoteActivity" />
        <activity
            android:name=".views.splashScreen.SplashScreenActivity"
            android:theme="@style/Theme.NeverNote.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="uiMode" />

        <receiver
            android:name=".feature.note.receiver.NoteAlarmReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".feature.task.receiver.TaskAlarmReceiver"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>